<!-- Example in files.html -->
{{ define "files" }} {{ range . }}
<div
	class="file"
	id="file-{{ .ID }}"
	data-id="{{ .ID }}"
	data-type="file"
	ondragstart="dragStart(event)"
	draggable="true"
>
	<div class="p-2 bg-gray-100 rounded-md">
		{{ if hasPrefix .ContentType "image/" }}
			<img src="/serve/{{ .ID }}" class="w-full h-48 object-cover" />
		{{ else if hasPrefix .ContentType "ausio/" }}
			<audio
				class="w-full h-48 object-cover"
				controls
				autoplay
				loop
				muted
				playsinline
			>
				<source src="/serve/{{ .ID }}" type="audio/mp3" />
			</audio>
		{{ else if hasPrefix .ContentType "video/" }}
			<video
				class="w-full h-48 object-cover"
				controls
				autoplay
				loop
				muted
				playsinline
			>
				<source src="/stream/{{ .ID }}" />
			</video>
		{{ else }}
			<div class="w-full h-48 bg-gray-200 flex items-center justify-center">
				<p class="text-gray-500">No preview available</p>
			</div>
		{{ end }}
	</div>

	<h3 class="font-bold">{{ .Name }}</h3>
	<p class="text-sm text-gray-500">Size: {{ .Size }} KB</p>
	<p class="text-sm text-gray-500">Created: {{ .CreatedAt }}</p>
	<div class="mt-2 flex justify-between">
		<a href="/web/file/{{ .ID }}" class="text-blue-500">Download</a>
		<button
			class="text-red-500"
			hx-delete="/web/file/{{ .ID }}"
			hx-target="#file-{{ .ID }}"
			hx-swap="outerHTML"
		>
			Delete
		</button>
	</div>
</div>
{{ end }} {{ end }}
