{{ define "folders" }} {{ range . }}
<div
	class="folder drop-zone"
	id="folder-{{ .ID }}"
	data-id="{{ .ID }}"
	ondragstart="dragStart(event)"
	ondrop="drop(event)"
	ondragover="allowDrop(event)"
	draggable="true"
>
	<h3 class="font-bold">
		<!-- <a href="/folders/{{ .Name }}?folder={{ .Path }}" class="text-blue-500">{{ .Name }}</a> -->
		<a href="/web/folder/{{ .ID }}" class="text-blue-500">{{ .Name }}</a>
	</h3>
	<p class="text-sm text-gray-500">Created: {{ .CreatedAt }}</p>
</div>
{{ end }} {{ end }}
