<!-- Example in files.html -->
{{ define "partials/buckets.html" }}
<!-- Template content goes here -->

{{ range .buckets }}
<div>
	<p>{{ .Name }}</p>
	<p>{{ .Description }}</p>
	<button
		hx-get="/buckets/fetch/bucket?bucket={{ .Name }}"
		hx-target="#files-container"
		hx-swap="innerHTML"
	>
		View Bucket
	</button>
	<button
		hx-post="/delete_bucket"
		hx-target="#message"
		hx-swap="innerHTML"
		name="bucket_name"
		value="{{ .Name }}"
	>
		Delete Bucket
	</button>
</div>
{{ end }} {{ end }}
