<!-- Example in files.html -->
{{ define "partials/files.html" }} {{ range . }}
<div class="bg-white shadow rounded p-4">
	<div class="p-2 bg-gray-100 rounded-md">
		{{ if eq .ContentType "image/jpeg" }}
		<img src="/serve/{{ .ID }}" class="w-full h-48 object-cover" />
		{{ else if eq .ContentType "image/png" }}
		<img src="/serve/{{ .ID }}" class="w-full h-48 object-cover" />
		{{ else if eq .ContentType "video/mp4" }}
		<video
			class="w-full h-48 object-cover"
			controls
			autoplay
			loop
			muted
			playsinline
		>
			<source src="/file/preview/{{ .ID }}" type="video/mp4" />
		</video>
		{{ else }}
		<div class="w-full h-48 bg-gray-200 flex items-center justify-center">
			<p class="text-gray-500">No preview available</p>
		</div>
		{{ end }}
	</div>

	<h3 class="font-bold">{{ .Name }}</h3>
	<p class="text-sm text-gray-500">Size: {{ .Size }} KB</p>
	<p class="text-sm text-gray-500">Created: {{ .CreatedAt }}</p>
	<div class="mt-2 flex justify-between">
		<a href="/file/download/{{ .ID }}" class="text-blue-500">Download</a>
		<button
			class="text-red-500"
			hx-post="/delete?id={{ .ID }}"
			hx-target="#file-{{ .ID }}"
			hx-swap="outerHTML"
		>
			Delete
		</button>
	</div>
</div>
{{ end }} {{ end }}
